{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel ="stylesheet" type="text/css"
        href="{% static 'keiba/css/style.css' %}" />
        <script src="{% static 'keiba/pace.js' %}" ></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/black/pace-theme-loading-bar.css" >

    
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.2.4/balloon.min.css">
        <label data-balloon="テストの内容1です。" data-balloon-pos="down"><input type="radio" name="test" value="テストです">test1</label>
        <input type="radio" name="test" value="テストです" data-balloon="テストの内容2です。" data-balloon-pos="down">test2 -->


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.2.4/balloon.min.css">
        <script>
        window.addEventListener('DOMContentLoaded', function(e){
          var n=document.querySelector('#id_bet_way_2');
          var l=document.createElement('label');
          l.setAttribute("data-balloon","マーチンゲ");
          l.setAttribute("data-balloon-pos","down");
          n.parentNode.insertBefore(l,n);
          l.appendChild(n);
        });
        </script>
        <!-- <input type="radio" name="test" value="テストです" id="test_id"> -->






</head>


<body>
     



    <h1>{{title}}</h1>
    
    <!-- <p>{{message}}</p> -->
    <p>{{message2}}</p>

    

    <h2><a href="{% url 'racesettei' %}">ターゲットレース</a></h2>
    <p>{{logiclistform}}</p>
            <table>
                    <form action="{% url 'logicedit' id %}" method="post">
                            {% csrf_token %}
                            {{form}}
                            <!-- {% for x in form %}
                            {{x}}
                            {% endfor %} -->
                            <tr><td></td><td><input type="submit" value="テストする" id="test"></td></tr>
                    </form>
             </table>
             
             


             <div id="side02">
                    <!-- 対象レース数{{racecounts}}
                    最大レース間隔数{{max_interval}}
                    平均レース間隔数{{avg_interval}} -->
                    <hr>
                    登録一覧   
                    <table>
                        <tr>
                           <th>id</th>
                           <th>ターゲットレース</th>
                           <th>予算</th> 
                           <th>初回ベット金額</th> 
                           <th>ベット方法</th> 
                           <th>定額or変動</th>
                           <th>連続不的中上限</th>
                           <th>ベット上限額</th>
                           <th>的中時ストップ</th>
                           <th>利益上限</th>
                           <th>オッズ（min)</th> 
                           <th>オッズ(max)</th> 
                           <th>対象人気</th>     
                           <th>対象騎手</th>

                           <th>カウントダウン人気</th>
                           <th>カウントダウン騎手</th>
                           <th>人気着外カウントダウン</th>
                           <th>騎手着外カウントダウン</th>
                           <th>対象着</th>
           
                        </tr>
                    {% for item in logic_list.all %}
                    <tr>
                    <td>{{item.id}}</td>
                    <!-- <td>
                        {% if item.name == "" %}
                            登録 No.{{item.id}}
                        {% else %}
                            {{item.name}}
                        {% endif %}
                     </td> -->
                     
                     <td>{{item.target_race}}</td>
                     <td>{{item.budget}}</td>
                     <td>{{item.select_or_manual}}</td>
                     <td>{{item.bet_way}}</td>
                     
                     <td>{{item.fix_or_variable}}</td>

                     <td>{{item.stopbet_bylost}}</td>
                     <td>{{item.stopbet_bymaxbet}}</td>
                     <td>{{item.stop_when_hit}}</td>
                     <td>{{item.stop_bymaxprofit}}</td>
                     
                     

                     <td>{{item.odds_minimum}}</td>
                     <td>{{item.odds_max}}</td>

                     <td>{{item.target_ninki}}</td>
                     <td>{{item.target_jockey}}</td>

                     <td>{{item.countdown_ninki}}</td>
                     <td>{{item.countdown_jockey}}</td>

                     <td>{{item.start_bet_ninki}}</td>
                     <td>{{item.start_bet_jockey}}</td>


                     <td>{{item.target_place}}</td>


                   
                    </tr>
                    {% endfor %}
                    </table>
                    
                </div>
             


    

    <script>
            //初期設定
            var infoAry = "本サイトのトップページです。"
            document.getElementById("id_nanbai").innerHTML = infoAry



            document.getElementById("id_stopbet_bymax").style.borderColor = "blue";


            document.getElementById("id_nanbai").disabled = "true"; 
            document.getElementById("id_nanbai").style.backgroundColor = "red";

            // document.getElementById("id_reset_when_hit").disabled = "true"; 
            // document.getElementById("id_reset_when_hit").style.backgroundColor = "red";

            // document.getElementById("id_lost_bet_reset").disabled = "true"; 
            // document.getElementById("id_lost_bet_reset").style.backgroundColor = "red";

            // document.getElementById("id_win_bet_reset").disabled = "true"; 
            // document.getElementById("id_win_bet_reset").style.backgroundColor = "red";


            // 非活性
            //定額か変動か
            //変動を選択した時
            document.getElementById("id_fix_or_variable_1").onclick = function(){
                document.getElementById("id_fix_bet").disabled = "true";
                document.getElementById("id_fix_bet").style.backgroundColor = "red";
                document.getElementById("id_bet_way").style.visibility="hidden";
                document.getElementById("id_nanbai").disabled = "";
                document.getElementById("id_nanbai").style.backgroundColor = "";
                document.getElementById("id_reset_when_hit").disabled = "";
                document.getElementById("id_reset_when_hit").style.backgroundColor = "";
            
                document.getElementById("id_lost_bet_reset").disabled = "";
                document.getElementById("id_lost_bet_reset").style.backgroundColor = "";
                document.getElementById("id_win_bet_reset").disabled = "";
                document.getElementById("id_win_bet_reset").style.backgroundColor = "";
                document.getElementById("id_stopbet_bymax").disabled = "";
                document.getElementById("id_stopbet_bymax").style.backgroundColor = "";
                document.getElementById("id_select_or_manual_0").visibility ="visible";

            };
            //ベット方法選択かマニュアルか:
  
            var findUl = document.getElementById('id_bet_way')
            findLi = findUl.children;
            
            //マニュアルを選択した時
            document.getElementById("id_select_or_manual_1").onclick = function(){
                
                for (var i = 0; i < findLi.length; i++){
                    findLi[i].getElementsByTagName('input')[0].disabled = "true";
                }
                
                document.getElementById("id_bet_way").style.backgroundColor = "red";
                document.getElementById("id_bet_way").style.visibility="hidden";
                document.getElementById("id_nanbai").disabled = "";
                document.getElementById("id_nanbai").style.backgroundColor = "";
                document.getElementById("id_fix_or_variable").style.visibility="visible";
                document.getElementById("id_fix_bet").disabled = "";
                document.getElementById("id_fix_bet").style.backgroundColor = "";

                document.getElementById("id_lost_bet_reset").disabled = "";
                document.getElementById("id_lost_bet_reset").style.backgroundColor = "";
                document.getElementById("id_win_bet_reset").disabled = "";
                document.getElementById("id_win_bet_reset").style.backgroundColor = "";
                document.getElementById("id_stopbet_bymax").disabled = "";
                document.getElementById("id_stopbet_bymax").style.backgroundColor = "";
                document.getElementById("id_select_or_manual_0").visibility ="visible";
        
            };   
            

        //    活性
        //定額か変動か
        //固定を選択した時
            document.getElementById("id_fix_or_variable_0").onclick = function(){
                document.getElementById("id_fix_bet").disabled = "";
                document.getElementById("id_fix_bet").style.backgroundColor = "";
                document.getElementById("id_bet_way").style.visibility="hidden";
                document.getElementById("id_nanbai").disabled = "true";
                document.getElementById("id_nanbai").style.backgroundColor = "red";
                document.getElementById("id_reset_when_hit").disabled = "true";
                document.getElementById("id_reset_when_hit").style.backgroundColor = "red";
                document.getElementById("id_lost_bet_reset").disabled = "true";
                document.getElementById("id_lost_bet_reset").style.backgroundColor = "red";
                document.getElementById("id_win_bet_reset").disabled = "true";
                document.getElementById("id_win_bet_reset").style.backgroundColor = "red";
                document.getElementById("id_stopbet_bymax").disabled = "true";
                document.getElementById("id_stopbet_bymax").style.backgroundColor = "red";
                document.getElementById("id_select_or_manual_0").visibility ="hidden";
               
                
            };
            
            //ベット方法選択かマニュアルか:
            //選択を選択した時
            var findUl = document.getElementById('id_bet_way')
            findLi = findUl.children;

            document.getElementById("id_select_or_manual_0").onclick = function(){
                
                for (var i = 0; i < findLi.length; i++){
                    findLi[i].getElementsByTagName('input')[0].disabled = "";
                }
                document.getElementById("id_bet_way").style.backgroundColor = "";
                document.getElementById("id_bet_way").style.visibility="visible";
                document.getElementById("id_nanbai").disabled = "true";
                document.getElementById("id_nanbai").style.backgroundColor = "red";
                document.getElementById("id_fix_or_variable").style.visibility="hidden";
                document.getElementById("id_fix_bet").disabled = "true";
                document.getElementById("id_fix_bet").style.backgroundColor = "red";

                document.getElementById("id_reset_when_hit").disabled = "true";
                document.getElementById("id_reset_when_hit").style.backgroundColor = "red";
                document.getElementById("id_lost_bet_reset").disabled = "true";
                document.getElementById("id_lost_bet_reset").style.backgroundColor = "red";
                document.getElementById("id_win_bet_reset").disabled = "true";
                document.getElementById("id_win_bet_reset").style.backgroundColor = "red";
            };  
            
            //その他
            document.getElementById("test").style.backgroundColor = "pink";
            document.getElementById("test").style.fontSize = "20px";
            document.getElementById("test").style.cursor = "pointer";
            

            
    </script>  
       
       {% for value, text in form.providers.field.choices %}
       <div class="ui slider checkbox">
         <input id="id_providers_{{ forloop.counter0 }}" name="{{ form.providers.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
         <label>{{ text }}</label>
       </div>
     {% endfor %}

     <p>{{countdown_ms1}}</p>
     <p>{{countdown_ms2}}</p>

    </body>
    </html>